.main-navbar {
display: flex;
  justify-content: space-between;
  margin-left: 35px;
  align-items: center;
  background:  #1e1e2f;
  padding: 10px 20px;
  color: rgb(72, 202, 60);
  position: relative;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.profile {
  cursor: pointer;
  font-size: 1.8rem;
 color: rgb(72, 202, 60);
  height: 30px;
  align-items: end;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background: #004080;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}

.dropdown-item:hover {
  background: #0059b3;
}
.subnav{
  height: 3px;
}
.dropdown{
font-size: 13px;
padding-top: 4pxpx;
}