/* BugList.css */
.task-list-page {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background: hsl(130, 13%, 91%);
  color: black;
  border-radius: 10px;
}
.task-table-container {
  width: 100%;
  overflow-x: auto;
}
.task-list-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #1e293b;
  font-family: 'Segoe UI', sans-serif;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bug-table {
  min-width: 700px; /* Adjust based on how many columns you have */
  border-collapse: collapse;
}

.bug-table th,
.bug-table td {
padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.bug-table th {
  background-color: #2875e7;
  color: white;
}

.bug-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bug-table tr:hover {
  background-color: #f1f1f1;
}

.bug-table button {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.bug-table button:hover {
  background-color: #0b7dda;
}

h2 {
  margin-top: 20px;
  font-family: Arial, sans-serif;
}