.sprint-overview {
     max-width: 1100px;
  margin: auto;
  padding: 20px;
  background: hsl(130, 13%, 91%);
  color: black;
  border-radius: 10px;
}

.sprint-header {
 display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
   color: #1e293b;
}

.sprint-header h2 {
  margin: 0 0 5px;
}

.sprint-header p {
  margin: 3px 0;
}

.sp-progress {
  background-color: #ddd;
  height: 12px;
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden;
}

.sp-progress-bar {
  height: 100%;
  background-color: #4ade80; /* green */
}

.users-section, .tasks-section {
  margin-bottom: 20px;
}

.users-section table,
.tasks-section table {
   min-width: 700px; /* Adjust based on how many columns you have */
  border-collapse: collapse;
}

.users-section th,
.users-section td,
.tasks-section th,
.tasks-section td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.users-section th,
.tasks-section th {
  background-color: #2875e7;
  color: white;
}

.task-table {
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  font-size: 18px;
  padding: 50px;
}
